body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #A7C5DA;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 5px solid #696969;
  padding: 5em;
  background-color: #EDFF71;
  width: 550px;
}

aside {
  border: 5px solid #696969;
  height: 100px;
  width: 100px;
}

.App {
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 300px;
}
